<div class="row">
    <div class="col-md-12">
        <div style="margin: 0 auto; width: 450px;">
            <alerts values="alerts"></alerts>

            <form name="inviteForm">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input id="email"
                           class="form-control"
                           type="email"
                           required
                           name="email"
                           ng-model="invite.email"
                           placeholder="Email Address"/>
                    <div role="alert">
                        <span class="error" ng-show="inviteForm.email.$error.required">Required!</span>
                        <span class="error" ng-show="inviteForm.email.$error.email">Not valid email!</span>
                    </div>
                </div>

                <div class="form-group">
                    <button type="button" ng-disabled="inviteForm.$invalid" class="btn btn-primary" ng-click="submit()">
                        Send
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>