<div>
    <a class="btn btn-primary" href="#/invite/create" ng-if="isGranted('invite.all', 'invite.create')">Invite Create</a>
</div>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>Email</th>
            <th>Token</th>
            <th>Created</th>
        </tr>
        </thead>
        <tr ng-repeat="invite in invites">
            <td>
                {[{invite.email}]}
            </td>
            <td>
                {[{invite.token}]}
            </td>
            <td>
                {[{invite.createdAt}]}
            </td>
        </tr>
    </table>
</div>