<div class="loginmodal-container">
    <alerts values="alerts"></alerts>

    <h1>Login to Your Account</h1><br>

    <form name="loginForm">
        <input type="text" name="user" placeholder="Username" ng-model="user.username" required>
        <input type="password"
               name="pass"
               placeholder="Password"
               ng-model="user.password"
               required>
        <input type="submit" name="login"
               class="login loginmodal-submit"
               ng-disabled="loginForm.$invalid"
               ng-click="submit(loginForm)">
    </form>
</div>