<!doctype html>
<html lang="en" ng-app="aulinks">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Theme Template for Bootstrap</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.css"/>
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/assets/css/fullcalendar.css"/>
    <link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.css"/>
    <link rel="stylesheet" href="/assets/css/spectrum.css"/>
    <link rel="stylesheet" href="/assets/css/sp-dark.css"/>
    {#<link rel="stylesheet" href="/app/app.css">#}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>

<body>

<style>
    body {
        background: #F5F5F5;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: relative;
    }
</style>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Aulinks</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/events" ng-if="isGranted('event.all', 'event.list', 'event.update')">Calendar</a>
                </li>
                <li>
                    <a href="#/users"  ng-if="isGranted('user.all', 'user.list')">Users</a>
                </li>
                <li>
                    <a href="#/invites"  ng-if="isGranted('invite.all', 'invite.list')">Invites</a>
                </li>
            </ul>

            <div class="pull-right">
                <ul class="nav navbar-nav">
                    <li ng-if="!isAuthenticated" >
                        <a href="#/logout">Log In</a>
                    </li>
                    <li ng-if="isAuthenticated">
                        <a href="#/logout">Log Out</a>
                    </li>
                </ul>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>

{% block content %}
{% endblock content %}


<script src="/assets/js/moment.js"></script>
<script src="/assets/js/angular.js"></script>
<script src="/app/src/js/angular-ui-calendar.js"></script>
<script src="/assets/js/angular-route.js"></script>
<script src="/assets/js/angular-jwt.js"></script>
<script src="/app/src/js/app.js"></script>
{#<script src="/app/src/js/components.js"></script>#}
<script src="/app/src/js/directives.js"></script>
<script src="/app/src/js/controllers.js"></script>
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/bootstrap.js"></script>

<script src="/assets/js/fullcalendar.js"></script>
{#<script src="/assets/js/fullcalendar-locale.js"></script>#}
<script src="/assets/js/fullcalendar-gcal.js"></script>
<script src="/assets/js/bootstrap-datetimepicker.js"></script>
<script src="/assets/js/spectrum.js"></script>

</body>
</html>